/* GENERAL */
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'Mulish', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body, #app, #app {
  height: 100%!important;
  width: 100%!important;
}
div#root {
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.centrarProgress{
  text-align:center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

/* BARRA SUPERIOR */
.Rectangle-1 {
  padding: 9px 80px 5px 80px;
  background-color: #e892bf;
}
.Blog {
  margin: 0 16px 0 0!important;
  font-size: 16px!important;
  font-weight: normal!important;
  font-stretch: normal!important;
  font-style: normal!important;
  line-height: normal!important;
  letter-spacing: normal!important;
  color: #fff;
}
.ENG {
  margin: 0 16px 0 0!important;
  font-size: 16px!important;
  font-weight: normal!important;
  font-stretch: normal!important;
  font-style: normal!important;
  line-height: normal!important;
  letter-spacing: normal!important;
  color: #fff;
}
.Contacto {
  margin: 0 0 0 0px!important;
  font-size: 16px!important;
  font-weight: normal!important;
  font-stretch: normal!important;
  font-style: normal!important;
  line-height: normal!important;
  letter-spacing: normal!important;
  color: #fff!important;
}

/* MENU */
.Rectangle-2 {
  padding: 16px 80px 16px 80px!important;
  background-color: #9f7fb1;
}
.Pasteles {
  font-size: 18px!important;
  font-weight: 800!important;
  font-stretch: normal!important;
  font-style: normal!important;
  line-height: normal!important;
  letter-spacing: normal!important;
  color: #fee0d5!important;
}
.Helados {
  font-size: 18px!important;
  font-weight: normal!important;
  font-stretch: normal!important;
  font-style: normal!important;
  line-height: normal!important;
  letter-spacing: normal!important;
  color: #fff!important;
}
.Galletas {
  font-size: 18px!important;
  font-weight: normal!important;
  font-stretch: normal!important;
  font-style: normal!important;
  line-height: normal!important;
  letter-spacing: normal!important;
  color: #fff!important;
}
.Nosotros {
  font-size: 18px!important;
  font-weight: normal!important;
  font-stretch: normal!important;
  font-style: normal!important;
  line-height: normal!important;
  letter-spacing: normal!important;
  color: #fff!important;
}
.Sucursales {
  font-size: 18px!important;
  font-weight: normal!important;
  font-stretch: normal!important;
  font-style: normal!important;
  line-height: normal!important;
  letter-spacing: normal!important;
  color: #fff!important;
}

/*Otros*/
.border{
  border-bottom: 2px solid #9e9e9e;
}
img.Mi-Pasteleria {
  width: 222px!important;
  height: 48px!important;
  object-fit: contain!important;
  padding:10px;
}
.bgWhite{
  background: white;
}
.pd-20{
  padding: 20px;
}
.Line-Copy {
  width: 796px;
  height: 1px;
  margin: 78px 82px 188px 82px;
  border: solid 1px #e1e1e1;
}

/* CUERPO */
.contenedor-filtro-1{
    margin: 0 0 0px;
    padding: 10px 20px 0px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    background-color:#FAECF8;
}
.contenedor-filtro-2{
  margin: 0 0 30px;
  padding: 10px 82px 30px;
  background: #FDF8FC;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/*CARD*/
.Pastel-de-Moka {
  text-align: center!important;
  height: 23px!important;
  margin: 12px 37px 21px 7px!important;
  font-size: 18px!important;
  font-weight: bold!important;
  font-stretch: normal!important;
  font-style: normal!important;
  line-height: 1.28!important;
  letter-spacing: normal!important;
  color: #434244!important;
}
.Rectangle-card {
  margin-top: 20px;
  width: 100%;
  max-width: 2000px!important;
  padding: 0 0px 31px 0px!important;
  border-radius: 8px!important;
  border: solid 1px #e1e1e1!important;
  background-color: #fff!important;
}
.PASTEL {
  width: 100px!important;
  height: 13px!important;
  font-size: 10px!important;
  font-weight: bold!important;
  font-stretch: normal!important;
  font-style: normal!important;
  line-height: normal!important;
  letter-spacing: normal!important;
  text-align: center!important;
  color: #fff!important;
}
.Rectangle-title-1 {
  width: 150px!important;
  height: 25px!important;
  padding: 18px 20px!important;
  background-color: #eb5e70!important;
  text-align: center;
}
.Rectangle-title-2 {
  width: 150px!important;
  height: 25px!important;
  padding: 18px 20px!important;
  background-color: #f7aa76!important;
  border-top-right-radius:6px;
  text-align: center;
}
.borderBottom{
  border-bottom: solid 1px #e1e1e1!important
}
.Bitmap {
  margin-top:5px;
  width: 155px;
  height: 124px;
}
.span-1 {
  width: 100%!important;
  height: 40px;
  padding: 4px;
  font-size: 32px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
}
.text-style-1 {
  font-size: 21px!important;
  font-weight: bold!important;
}
.Slo-pastel {
  width: 56px;
  height: 11px;
  padding: 10px;
  /* margin: 6px 42.5px 21px 70.5px; */
  font-size: 10px!important;
  font-weight: normal!important;
  font-stretch: normal!important;
  font-style: normal!important;
  line-height: 1.1!important;
  letter-spacing: normal!important;
  text-align: center!important;
  color: #808285;
}
.---17-Personas {
  width: 90px!important;
  height: 14px!important;
    padding: 4px;
  /* margin: 7px 26px 6px 53px!important; */
  font-size: 11px!important;
  font-weight: 800!important;
  font-stretch: normal!important;
  font-style: normal!important;
  line-height: normal!important;
  letter-spacing: normal!important;
  text-align: center!important;
  color: #4a4a4a!important;
}